@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.banner {
    background-color: #24252a;
    height: 90vh;
}

#title-carousel {
    
    font-size: 54px;
    text-transform: uppercase;
    align-items: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 800px;
    height: 20px;
    margin: 50px auto;
}
.carousel-wrapper {
    z-index: 333;
    height: 400px;
    position: relative;
    width: 800px;
    display: block;
    margin: 50px auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2%;
}
.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0px;
    display: inline-block;
    padding: 12px;
}

.arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}
.arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
    display: none;
}
.item-1 {
    z-index: 2;
    opacity: 1;
    background: url("../../img/corousel3.jpg");
    background-size: cover;
}
.item-2 {
    background: url("../../img/carousel1.jpg");
    background-size: cover;
}

.item-3 {
    background: url("../../img/carousel2.jpg");
    background-size: cover;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}
@media (max-width: 858px) {
    .carousel-wrapper {
        z-index: 333;
        height: 280px;
        width: 500px;
        margin: 20px auto;
        border: 2px solid black;
    }
    #title-carousel {
        width: 500px;
        height: 20px;
        font-size: 39px;
    }
}

@media (max-width: 400px){
    #title-carousel {
        font-size: 35px;
    }
    .carousel-wrapper {
        width: 90vw;
    }
  }