* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(140, 140, 140);
  /*background-image: url(../Imagenes/Imagen-Login.jpg);*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
}

.Fondo-Blanco {
  background-color: white;
  width: 900px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
}

.Login-Texto {
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: center;
}

.Entrada-Datos-1,
.Entrada-Datos-2,
.Formulario,
.wrapper {
  background-color: transparent;
}
input[type="date"] {
  background-color: #0080ff;
  padding: 15px;
  width: 250px;
  position: relative;
  left: 600px;
  bottom: 200px;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.Insertar-Primero,
.Insertar-Segundo {
  position: relative;
  left: 600px;
  bottom: 230px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  height: 60px;
  width: 250px;
  margin-top: 20px;

  :hover {
    border-color: #ccc;
  }
  :focus {
    border-color: #9147ff;
    background: #fff;
  }
}

.Entrada-Datos-2 {
  display: none;
}

.Boton-Registrarse,
.Boton-Siguiente,
.Boton-Regresar {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #0070f3;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  :hover {
    background: rgba(0, 118, 255, 0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
  }
}

.Boton-Registrarse,
.Boton-Siguiente {
  position: relative;
  left: 620px;
  bottom: 210px;
}

.Boton-Registrarse,
.Boton-Regresar {
  display: none;
}

.Boton-Regresar {
  position: relative;
  left: 400px;
  bottom: 165px;
}

.Iniciar-Sesion-Page {
  margin-top: 20px;
  background-color: transparent;
  position: relative;
  left: 120px;
  top: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Registro_Imagen {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: transparent;
  left: 100px;
  top: 100px;
}

.Genero {
  display: inline-flex;
  background: #fff;
  height: 70px;
  width: 300px;
  align-items: center;
  position: relative;
  left: 570px;
  bottom: 215px;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
}
.Genero .option {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.Genero .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.Genero .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.Genero .option span {
  font-size: 20px;
  color: #808080;
  background-color: transparent;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}
